@charset "utf-8";
/* CSS Document */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, main, aside, canvas, details, figure, figcaption, hgroup, menu, footer, header, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; }
main, main, aside, canvas, figure, figure img, figcaption, hgroup, footer, header, nav, section, audio, video { display: block; }

* { outline: none;  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-text-size-adjust:100%; -webkit-tap-highlight-color: rgba(0,0,0,0); font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; }
body, html { width:100%; height:100%; margin:0; padding:0; position:relative; background-color:#FFF; font-size:11px; -webkit-font-smoothing: antialiased; color:#555; }
table td { font-size:11px; }

a, [class*="icon-"]:before, .input:not(.select), .submit, .statustripe, .notify, .footer .item, .mapdata, .jobdata { transition: all 250ms; -webkit-backface-visibility: hidden; }

input,textarea,select { -webkit-appearance: none; border-radius: 0; font-size:12px; }
input:required { box-shadow:none; }
input:invalid { box-shadow:none; }

.template { display:none; }

.table { display:table; }
.table div { display:table-cell; }

.main { width:100%; height:100%; background-color:#FFF; overflow:hidden; position:relative;  }

.appver { color:#AAA; font-size:10px; width:100%; position:absolute; left:0; bottom:6px; text-align:center; }

.statustripe { display:none; width:100%; height:3px; position:absolute; top:0; z-index:999999; background-color:#4284C6; }
.statustripe.orange { background-color:#F50; }
.ios .statustripe { height:21px; }

.loadinfo { position:absolute; width:100%; top:40%; color:#999; font-size:16px; font-weight:bold; letter-spacing:-1px; text-align:center; }

.auth { position:absolute; width:100%; top:14%; min-height:100px; padding:0 12%; }
.auth .logo { width:100%; height:120px; background-image:url(../pic/auth-logo.png); background-repeat: no-repeat; background-position: center top; }
.auth .desc { font-size:12px; text-align:center; }
.auth .desc strong.client { font-size:16px; color:#F50; letter-spacing:-1px; }
.auth .desc.bottom { margin-top:12px; }
.auth .desc a { color:#F30; }
.auth .text { width:100%; padding:8px; margin:8px 0 0 0; font-size:14px; background-color:#FFF; border:#DDD solid 2px; font-weight:bold; border-radius:6px; }
.auth .text:focus { border-color:#AAA !important; }
.auth .text.required { border-color:#F30; }
.auth .text.disable { background-color:#f2f2f2; color:#CCC; }
.auth .submit { width:100%; padding:10px; margin:8px 0 0 0; font-size:14px; background-color:#F30; color:#FFF; font-weight:bold; border:none; border-radius:6px; text-align:center; }
.auth .submit.yellow { background-color:#F60; }
.auth .submit.disable { background-color:#CCC; }
.auth .link { display:block; width:20px; height:20px; position:absolute; bottom:-16%; left:50%; margin-left:-8px; }
.auth .link:before { font-size:20px; }

.header { position:absolute; top:0; left:0; width:100%; height:42px; background-color:#DDD; border-bottom:#CDCDCD solid 1px; z-index:2; /*box-shadow: 0 0 10px 0 rgba(51,51,51,.2); -webkit-box-shadow: 0 0 10px 0 rgba(51,51,51,.2);*/ }
.header .item { font-size:14px; color:#444; line-height:38px; position:absolute; min-height:41px; min-width:42px; }
.header .item:before { font-size:24px; position:absolute; width:42px; text-align:center; top:8px;  }
.header .item.iconsmall:before { font-size:16px; top:12px; }
.header .item.hover { background-color:#CCC; }
.ios .header { padding-top:20px; height:62px; }
.header .item.l1 { left:0; }
.header .item.l2 { left:42px; }
.header .item.r1 { right:0; }
.header .item.r2 { right:42px; }
.header .item.hilite { color:#F40; }
.header h1 { font-size:14px; color:#444; padding:0; line-height:42px; text-align:center; position:absolute; left:25%; width:50%; white-space:nowrap; overflow: hidden; text-overflow: ellipsis; letter-spacing:-1px; }
.header h2 { font-size:12px; color:#444; padding:0; line-height:42px; text-align:center; position:absolute; left:25%; width:50%; white-space:nowrap; overflow: hidden; text-overflow: ellipsis; letter-spacing:-1px; }
.header h1:before { margin:-4px 6px 0 0; }
.header h1.small { font-size:12px; line-height:21px; letter-spacing:0px; top:6px; }
.ios .header h1.small { font-size:12px; line-height:21px; letter-spacing:0px; top:26px; }
.header h2.small { font-size: 9px; line-height:21px; letter-spacing:0px; bottom:2px; }

.nav { display:none; position:absolute; top:0; left:0; width:100%; height:100%; background-color:#333; overflow-y:scroll; -webkit-overflow-scrolling: touch; z-index:1; }
.nav.active { display:block; }
.nav .header { background-color:#3a3a3a; border-color:#2c2c2c; position:relative; background-image:url(../pic/header-logo.png); background-repeat: no-repeat; background-position: left bottom; }
.nav .header .client { color:#777; position:absolute; top:10px; left:116px; font-weight:bold; letter-spacing:-1px; font-size:14px; }
.ios .nav .header .client { top:30px; }
.ios .exitapp { display:none; }
.nav ul { list-style:none; }
.nav ul li { border-bottom:#3a3a3a solid 1px; }
.nav ul li a { display:block; width:100%; min-height:42px; color:#AAA; }
.nav ul li a strong { display:block; margin:0 12px; font-size:13px; }
.nav ul li a small { display:block; margin:0 12px; font-size:10px; }
.nav ul li a span { display:block; margin:0 12px; line-height:42px; font-size:13px; }
.nav ul li a [class*="icon-"]:before { margin-right:12px; }
.nav ul li a.hover { background-color:#222; }

.view { display:none; opacity:0; width:100%; height:100%; top:0; background-color:#FFF; overflow:hidden; position:absolute; z-index:2; }
.view.current { left:0; opacity:1; }
.view.inactive { left:80%;  }
.view.gray { background-color:#EEE; }
.view.overall { background-color:rgba(51,51,51,.9); z-index:999999999999 !important; }
.view.overall .btngroup { position:absolute; bottom:0px; padding:6%; width:100%; }
.view.overall .btngroup p { color:#FFF; padding:10px 0; font-size:14px; }
.view.overall .btngroup button { width:100%; padding:12px; margin:16px 0 0 0; font-size:14px; background-color:#333; border:none; color:#FFF; font-weight:bold; border-radius:6px; text-align:center; }
.view.overall .btngroup button.red { background-color:#F00; }
.view.overall .btngroup button.orange { background-color:#F40; }
.view.overall .btngroup button.yellow { background-color:#F60; }
.view.overall .btngroup button.green { background-color:#090; }
.view.overall .btngroup button.blue { background-color:#09F; }
.view.overall .btngroup button.gray { background-color:#999; }

/*
.view.closed { left:80%; -webkit-transition: -webkit-transform 0.2s; -webkit-transform: translateX(0); }
.view.opened { left:80%; -webkit-transition: -webkit-transform 0.2s; -webkit-transform: translateX(240px); }
*/

.section { position:absolute; top:42px; bottom:42px; left:0px; width:100%; background-color:#FFF; overflow-y:scroll; -webkit-overflow-scrolling: touch; z-index:1; }
.section.noscroll { overflow-y:hidden !important; }
.section.mapdata, .section.jobdata { width:auto; top:42px; background:rgba(255,255,255,.7); right:0px; bottom:auto; left:0px; z-index:2 !important; border-bottom:#DDD solid 1px; }
.ios .section.mapdata, .ios .section.jobdata { top:62px !important; }
.section.jobdata a { padding:4px 12px; background-color:#F30; color:#FFF; font-weight:bold; border-radius:3px; }
.section .puller { width:100%; height:0; background-color:#BBB; position:relative; overflow:hidden; -webkit-transform: translateX(0); }
.section .puller strong { display:block; position:absolute; top:50%; margin-top:-5px; width:100%; height:100%; color:#FFF; text-align:center; overflow:hidden;  }
.ios .section { top:62px; }
.section.short { bottom:42px; }
.section ul { list-style:none; }
.section .grid li { width:146px; height:70px; position:relative; float:left; margin:16px 6px; }
.section .grid li a { display:block; width:100%; height:80px; padding:8px 0; text-align:center; border-radius:6px; }
.section .grid li a.hover { background-color:#DDD; color:#444; }
.section .grid li a [class*="icon-"]:before { display:block; font-size:48px; text-shadow:0 0 8px rgba(130,130,130,.2); }
.section .grid li a.unmarked [class*="icon-"]:before { color:#CCC !important; }
.section .grid li a strong { display:block; width:100%; height:52px; font-weight:bold; font-size:13px; }
.section .grid li a span { display:block; width:100%; font-weight:bold; font-size:12px; color:#777; }
.section .grid li a mark { opacity:0; width:24px; height:24px; position:absolute; right:40px; top:8px; background-color:#AAA; color:#FFF; font-size:14px; font-weight:bold; text-align:center; line-height:24px; border-radius:12px; }
.section .list li { width:100%; min-height:32px; border-bottom:#EEE solid 1px; }
.section .list li .link { display:table; height:100%; text-align:left; }
.section .list li .link.readed { opacity:.8; }
.section .list li .link.hover { background-color:#DDD; color:#444; }
.section .list li .link [class*="icon-"]:before { display:block; text-shadow: 0 0 8px rgba(130,130,130,.2); }
.section .list li .table > div {  padding:12px 0 12px 12px; vertical-align:top; position:relative; }
.section .list li .table > div:first-child { width:1%; }
.section .list li .table > div:last-child { width:99%; }
.section .list li .identifier { padding:8px; min-width:42px; text-align:center; background-color:#444; color:#FFF; border-radius:8px 0 8px 0; box-shadow:0 0 8px rgba(130,130,130,.2); }
.section .list li .identifier strong { font-size:16px; display:block; }
.section .list li .icon { padding:8px; min-width:42px; position:relative; }
.section .list li .icon:before { font-size:42px; position:absolute; top:0; left:0; width:42px; height:42px; display:block; text-shadow:0 0 8px rgba(130,130,130,.2); }
.section .list li mark { display:block; opacity:0; width:24px; height:24px; position:absolute; right:-10px; top:5px; background-color:#AAA; color:#FFF; font-size:12px; font-weight:bold; text-align:center; line-height:24px; border-radius:12px; }
.section .list li h1 { margin-top:0; margin-left:0px !important; }
.section .list li h2 { margin-top:0; margin-left:0px !important; }
.section .list li p { margin:6px 0 0 0; }
.section .list li p small { font-size:10px; color:#666; }
.section .mapwrap { background-color:#E9E5DC; position:relative; width:100%; height:200px; }
.section .mapwrap .map { opacity:0; }
.section .mapwrap .mydevice { position:absolute; left:50%; top:50%; margin:-10px 0 0 -10px; }
.section p, .section h1, .section h2, .section h3 { margin:6px 10px; }
.section .block { padding:10px 10px 0 10px; border-bottom:#DDD solid 1px; }
.section .block.gray { background-color:#EEE; }
.section .block h3 { color:#BBB; letter-spacing:-1px; margin:0 0 6px 0; font-size:14px; }
.section .block table { margin-bottom:6px; }
.section .block .dets td { padding:3px 10px 3px 0; }
.section h2 { font-size:14px; letter-spacing:-1px; }
.section .button, .section .submit { width:80%; padding:10px; margin:14px 10px; font-size:14px; background-color:#333; border:none; color:#FFF; font-weight:bold; border-radius:6px; text-align:center; box-sizing:border-box; }
.section .button.disable, .section .submit.disable { background-color:#CCC; }
.section .bigicon { width:100%; height:128px; position:relative; color:#CCC; text-shadow: 0 0 10px rgba(153,153,153,.3); }
.section .bigicon:before { font-size:96px; width:96px; height:96px; position:absolute; left:50%; top:50%; margin-left:-48px; margin-top:-48px; }

.section .pullinfo { position:absolute; z-index:1; width:100%; height:100%; background-color:#BBB; position:relative; overflow:hidden; }
.section .pullinfo strong { display:block; position:absolute; top:0px; margin-top:-5px; width:100%; height:100%; color:#FFF; text-align:center; overflow:hidden; opacity:0; -webkit-backface-visibility: hidden; }
.section .pullarea { position:absolute; z-index:2; top:0; bottom:0; width: 100%; background-color:#FFF; -webkit-backface-visibility: hidden; }

.section.forchat { bottom:84px !important; background-color:#EEE !important; }
.section .chat { width:100%; padding:6px 0; }
.section .chat .talk { background-color:#FFF; margin:6px 10px; float:left; max-width:80%; min-height:40px; padding:6px; border-radius:8px; box-sizing:border-box; }
.section .chat .talk .text { color:#222; padding:0 0 8px 0; font-weight:normal; font-size:12px; }
.section .chat .talk .info { color:#AAA; font-size:10px; margin-left:-4px; }
.section .chat .talk .info * { padding:0 4px; }
.section .chat .talk .info *:before { font-size:9px; margin:-2px 2px 0 0; }
.section .chat .talk.me { background-color:#09F; float:right; }
.section .chat .talk.me .text { color:#FFF; padding:0 0 6px 0; font-weight:normal; }
.section .chat .talk.me .info { text-align:right; margin-right:-4px; color:#FFF; opacity:.6; }
form.composer { position:fixed; bottom:42px; z-index:99999999999999; width:100%; height:42px; overflow:hidden; background-color:rgba(255,255,255,.95); border-top:#D6D6D6 solid 1px; }
form.composer .input { border:none; background-color:#FFF; color:#000; height:42px; width:78%; padding-left:10px; float:left; font-size:12px; }
form.composer .submit { float:right; width:50px; border:none; border-radius:3px; background-color:#09F; color:#FFF; font-size:10px; font-weight:bold; height:22px; margin:10px 10px 0 0; }

.section .clear { clear:both; }


.footer { position:absolute; bottom:0; left:0; width:100%; height:42px; background-color:#DDD; border-top:#CDCDCD solid 1px; z-index:999999; -webkit-transform: translateY(50px); /*box-shadow: 0 0 10px 0 rgba(51,51,51,.2); -webkit-box-shadow: 0 0 10px 0 rgba(51,51,51,.2);*/ }
.footer .item { font-size:14px; color:#CCC; line-height:38px; position:absolute; min-height:41px; min-width:50px; }
.footer .item:before { font-size:24px; position:absolute; width:50px; text-align:center; top:8px;  }
.footer .item.hover { background-color:#CCC; color:#AAA; }
.footer .item.marked { color:#444; }
.footer .item.marked:hover { color:#333; }
.footer .item mark { opacity:0; width:18px; height:18px; position:absolute; right:4px; top:4px; background-color:#F40; color:#FFF; font-size:11px; font-weight:bold; text-align:center; line-height:18px; border-radius:12px; }
.footer .item mark.small { width:12px; height:12px; right:10px; top:6px; line-height:12px; }
.footer .item.r1 { right:10px; }
.footer .item.r2 { right:60px; }
.footer .item.r3 { right:110px; }
.footer .user { font-size:14px; color:#444; padding:0 0 0 10px; position:absolute; left:0; top:1px; width:50%; white-space:nowrap; }
.footer .user small { display:block; margin-left:27px; margin-top:-10px; font-size:9px; }
.footer .user:before { margin:7px 3px 0 0; font-size:24px; }

.notify { display:none; position:absolute; bottom:0; left:0; width:100%; background:rgba(51,51,51,.92); z-index:100000000; padding:16px; color:#FFF; }
.notify strong { display:block; padding:0 4px; font-size:13px; }
.notify span { display:block; padding:4px; }
.notify small { display:block; padding:0 4px; }
.notify.error { background:rgba(255,0,0,.95);  }
.notify.notice { background:rgba(16,153,72,.95)  }
.notify.alert { background:rgba(255,102,0,.95);  }
.notify.info { background:rgba(0,102,204,.95);  }

.logline { padding:10px 6px; font-size:9px; color:#999; font-family:"Courier New", Courier, monospace !important; }
.logline .detail { font-size:8px; opacity:.7; }
.logline * { }
.logline.error { color:#F00; }
.logline.alert { color:#F70; }
.logline.info { color:#08F; }
.logline.notice { color:#090; }

mark.orange { background-color:#F40 !important; }
mark.red { background-color:#F00 !important; }
mark.blue { background-color:#09F !important; }
mark.green { background-color:#080 !important; }
mark.yellow { background-color:#F80 !important; }

.fordebug { display:none !important; }
.debug .fordebug { display:block !important; }

form.onlist { border-bottom:#DDD solid 1px; background-color:#F2F2F2; margin:0; padding:0; position:relative; }
form.onlist:before { color:#999; position:absolute; top:11px; left:11px; }
form.onlist .input { border:#F2F2F2 solid 1px; padding:10px; background-color:#F2F2F2; width:100%; color:#111; }
form.onlist .submit { display:none; }
form.onlist[class*="icon-"] .input { padding-left:32px; }

form .formset { }
form h3 { color:#BBB; letter-spacing:-1px; font-size:14px; }
form .items { width:100%; margin:0; position:relative; }
form .items .item { display:table; width:100%; border-bottom:#DDD solid 1px; color:#555; }
form .items .item .check { display:table-cell; width:30px; background-image:url(../pic/item-check.png); background-repeat:no-repeat; background-position:0px center; }
form .items .item .image { display:table-cell; width:48px; padding:10px 0; vertical-align:top; }
form .items .item .image .icon { width:48px; height:48px; line-height:48px; background-color:#666; color:#FFF; text-align:center; font-size:15px; font-weight:bold; border-radius:48px; letter-spacing:-1px; }
form .items .item .image .thumb { width:48px; height:48px; background-color:#FFF; background-position:center center; background-size:cover; border-radius:48px; }
form .items .item .data { display:table-cell; padding:6px 0 6px 10px; vertical-align:middle; }
form .items .item .data h2 { margin:0px; }
form .items .item .data p { margin:0px; margin-top:6px; }
form .items .item .data *[class*="icon-"]:before { margin-right:3px; }
form .items .item.match { color:#333; background-color:#F2F2F2; }
form .items .item.match .check { background-position:-30px center; }
form .items .item.match .icon { background-color:#333; }
form .items .item.unmatch { color:#666; background-color:#FFEAEE; }
form .items .item.unmatch .check { background-position:-60px center; }
form .items .item.unmatch .icon { background-color:#666; }
form .description { border-bottom:#DDD solid 1px; margin:0 !important; padding:0 10px 10px 10px; }
form .formset .input { border:#FFF solid 1px; padding:10px; width:100%; border-bottom:#DDD solid 1px; background-color:#FFF; margin:0; position:relative; font-weight:bold; font-size:13px; }
form .formset .input.invalid { color:#F10; background-color:#FFEAEE; }
form .formset .select { background-image:url(../pic/field-chevron.png); background-repeat:no-repeat; background-position:right 4px; }
form .formset .select.disable { background-image:none; background-repeat:inherit; background-position:inherit; }
form .formset .select:focus { background-position:right -23px; }

.courtain { background-image: url('../pic/courtain.svg') !important;
   -webkit-animation: moveBars 400ms linear infinite;
    -moz-animation: moveBars 400ms linear infinite;
    -ms-animation: moveBars 400ms linear infinite;
    -o-animation: moveBars 400ms linear infinite;
    animation: moveBars 400ms linear infinite;
}

@keyframes moveBars { 100% { background-position: 50px 0; } }
@-webkit-keyframes moveBars { 100% {  background-position: 50px 0; } }
@-moz-keyframes moveBars { 100% {  background-position: 50px 0; } }
@-ms-keyframes moveBars { 100% {  background-position: 50px 0; } }
@-o-keyframes moveBars { 100% {  background-position: 50px 0; } }


a[href*="//maps.google.com/maps"]{display:none !important}
.gmnoprint a, .gmnoprint span {display:none;}
.gmnoprint div {background:none !important;}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
	.auth .logo { background-image:url(../pic/auth-logo-2x.png); background-size: 97px 105px; }
	.nav .header { background-image:url(../pic/header-logo-2x.png); background-size: 111px 42px; }
	form .formset .select:not(.disable) { background-image:url(../pic/field-chevron-2x.png); background-size: 28px 56px; }
}

