@charset "utf-8";
/* CSS Document */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, main, aside, canvas, details, figure, figcaption, hgroup, menu, footer, header, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; }
main, main, aside, canvas, figure, figure img, figcaption, hgroup, footer, header, nav, section, audio, video { display: block; }

* { outline: none;  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-text-size-adjust:100%; -webkit-tap-highlight-color: rgba(0,0,0,0); font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; }
body, html { width:100%; height:100%; margin:0; padding:0; position:relative; background-color:#FFF; font-size:11px; -webkit-font-smoothing: antialiased; color:#555; }

.input, .submit, .statustripe, .notify, mark, .footer .item, .mapdata  { transition: all 250ms; -webkit-backface-visibility: hidden; }

input,textarea,select { -webkit-appearance: none; border-radius: 0; }
input:required { box-shadow:none; }
input:invalid { box-shadow:none; }

.template { display:none; }

.table { display:table; }
.table div { display:table-cell; }

.main { width:100%; height:100%; background:#FFF; overflow:hidden; position:relative;  }

.statustripe { display:none; width:100%; height:3px; position:absolute; top:0; z-index:999999; background:#4284C6; }
.statustripe.orange { background:#F50; }
.ios .statustripe { height:21px; }

.loadinfo { position:absolute; width:100%; top:40%; color:#999; font-size:16px; font-weight:bold; letter-spacing:-1px; text-align:center; }

.auth { position:absolute; width:100%; top:14%; min-height:100px; padding:0 12%; }
.auth .logo { width:100%; height:150px; background-image:url(../pic/auth-logo.png); background-repeat: no-repeat; background-position: center top; }
.auth .description { font-size:12px; text-align:center; }
.auth .description strong.client { font-size:16px; color:#F50; letter-spacing:-1px; }
.auth .description.bottom { margin-top:12px; }
.auth .description a { color:#F30; }
.auth .text { width:100%; padding:8px; margin:6px 0 0 0; font-size:14px; background-color:#FFF; border:#DDD solid 2px; font-weight:bold; border-radius:6px; }
.auth .text:focus { border-color:#AAA !important; }
.auth .text.required { border-color:#F30; }
.auth .text.disable { background-color:#f2f2f2; color:#CCC; }
.auth .submit { width:100%; padding:8px; margin:8px 0 0 0; font-size:14px; background-color:#F30; color:#FFF; font-weight:bold; border:none; border-radius:6px; text-align:center; }
.auth .submit.yellow { background-color:#F60; }
.auth .submit.disable { background-color:#CCC; }
.auth .link { display:block; width:20px; height:20px; position:absolute; bottom:-16%; left:50%; margin-left:-8px; }
.auth .link:before { font-size:20px; }

.header { position:absolute; top:0; left:0; width:100%; height:42px; background:#EEE; border-bottom:#CFCFCF solid 1px; z-index:2; box-shadow: 0 0 10px 0 rgba(51,51,51,.2); -webkit-box-shadow: 0 0 10px 0 rgba(51,51,51,.2); }
.header .item { font-size:14px; color:#555; line-height:38px; position:absolute; min-height:41px; min-width:42px; }
.header .item:before { font-size:24px; position:absolute; width:42px; text-align:center; top:8px;  }
.header .item.iconsmall:before { font-size:16px; top:13px; }
.header .item.hover { background:#CCC; }
.ios .header { padding-top:20px; height:62px; }
.header .item.l1 { left:0; }
.header .item.l2 { left:42px; }
.header .item.r1 { right:0; }
.header .item.r2 { right:42px; }
.header .item.hilite { color:#F40; }
.header h1 { font-size:14px; color:#555; padding:0 6px; line-height:42px; text-align:center; position:absolute; left:25%; width:50%; white-space:nowrap; letter-spacing:-1px; }
.header h1:before { margin:-4px 6px 0 0; }

.nav { display:none; position:absolute; top:0; left:0; width:100%; height:100%; background:#333; overflow-y:scroll; -webkit-overflow-scrolling: touch; z-index:1; }
.nav.active { display:block; }
.nav .header { background:#3a3a3a; border-color:#2c2c2c; position:relative; background-image:url(../pic/header-logo.png); background-repeat: no-repeat; background-position: left bottom; }
.nav .header .client { color:#777; position:absolute; top:10px; left:116px; font-weight:bold; letter-spacing:-1px; font-size:14px; }
.ios .nav .header .client { top:30px; }
.nav ul { list-style:none; }
.nav ul li { border-bottom:#3a3a3a solid 1px; }
.nav ul li a { display:block; width:100%; min-height:42px; color:#AAA; }
.nav ul li a strong { display:block; margin:0 12px; font-size:13px; }
.nav ul li a small { display:block; margin:0 12px; font-size:10px; }
.nav ul li a span { display:block; margin:0 12px; line-height:42px; font-size:13px; }
.nav ul li a [class*="icon-"]:before { margin-right:12px; }
.nav ul li a.hover { background:#222; }

.view { display:none; opacity:0; width:100%; height:100%; top:0; background:#FFF; overflow:hidden; position:absolute; z-index:2; -webkit-backface-visibility: hidden; }
.view.current { left:0; opacity:1; }
.view.inactive { left:80%;  }
.view.gray { background-color:#EEE; }
.view.overall { background-color:rgba(51,51,51,.9); z-index:999999999999 !important; }
.view.overall .btngroup { position:absolute; bottom:0px; padding:6%; width:100%; }
.view.overall .btngroup p { color:#FFF; padding:12px 0; font-size:14px; }
.view.overall .btngroup button { width:100%; padding:8px; margin:16px 0 0 0; font-size:14px; background-color:#333; border:none; color:#FFF; font-weight:bold; border-radius:6px; text-align:center; }
.view.overall .btngroup button.red { background-color:#F00; }
.view.overall .btngroup button.orange { background-color:#F40; }
.view.overall .btngroup button.yellow { background-color:#F60; }
.view.overall .btngroup button.green { background-color:#090; }
.view.overall .btngroup button.blue { background-color:#09F; }
.view.overall .btngroup button.gray { background-color:#999; }

/*
.view.closed { left:80%; -webkit-transition: -webkit-transform 0.2s; -webkit-transform: translateX(0); }
.view.opened { left:80%; -webkit-transition: -webkit-transform 0.2s; -webkit-transform: translateX(240px); }
*/

.section { position:absolute; top:42px; bottom:42px; left:0px; width:100%; background:#FFF; overflow-y:scroll; -webkit-overflow-scrolling: touch; z-index:1; -webkit-backface-visibility: hidden; }
textarea.section { border:none; font-size:8px; overflow:scroll !important; }
.section.noscroll { overflow-y:hidden !important; }
.section.mapdata { width:auto; top:50px; background:rgba(255,255,255,.7); right:8px; bottom:auto; left:8px; z-index:2 !important; border-radius:6px; }
.section.mapdata.colapsed { width:24px; height:24px; top:50px; background:rgba(102,102,102,.7); right:auto; bottom:auto; left:8px; border-radius:24px; overflow:hidden !important; }
.section.mapdata.colapsed * { display:none; }
.section .puller { width:100%; height:0; background-color:#BBB; position:relative; overflow:hidden; -webkit-transform: translateX(0); }
.section .puller strong { display:block; position:absolute; top:50%; margin-top:-5px; width:100%; height:100%; color:#FFF; text-align:center; overflow:hidden;  }
.ios .section { top:62px; }
.section.short { bottom:42px; }
.section ul { list-style:none; }
.section .grid li { width:146px; height:70px; position:relative; float:left; margin:16px 6px; }
.section .grid li a { display:block; width:100%; height:80px; padding:8px 0; text-align:center; border-radius:6px; }
.section .grid li a.hover { background:#DDD; color:#444; }
.section .grid li a [class*="icon-"]:before { display:block; font-size:48px;  }
.section .grid li a strong { display:block; width:100%; height:52px; font-weight:bold; font-size:13px; }
.section .grid li a span { display:block; width:100%; font-weight:bold; font-size:11px; color:#666; }
.section .grid li a mark { display:none; width:24px; height:24px; position:absolute; right:40px; top:8px; background:#AAA; color:#FFF; font-size:12px; font-weight:bold; text-align:center; line-height:24px; border-radius:12px; }
.section .list li { width:100%; min-height:32px; border-bottom:#DDD solid 1px; }
.section .list li .link { display:table; height:100%; text-align:left; }
.section .list li .link.hover { background:#DDD; color:#444; }
.section .list li .link [class*="icon-"]:before { display:block; }
.section .list li .table > div {  padding:12px 0 12px 12px; vertical-align:top; position:relative; }
.section .list li .table > div:first-child { width:1%; }
.section .list li .table > div:last-child { width:99%; }
.section .list li .identifier { padding:8px; min-width:42px; text-align:center; background:#444; color:#FFF; border-radius:8px 0 8px 0; }
.section .list li .identifier strong { font-size:16px; display:block; }
.section .list li mark { display:block; width:24px; height:24px; position:absolute; right:-10px; top:5px; background:#AAA; color:#FFF; font-size:12px; font-weight:bold; text-align:center; line-height:24px; border-radius:12px; }
.section .list li h1 { margin-top:0; }
.section .list li h2 { margin-top:0; }
.section .list li p { margin:6px 0 0 0; }
.section .list li p small { font-size:10px; color:#666; }
.section .mapwrap { background:#E9E5DC; position:relative; width:100%; height:200px; }
.section .mapwrap .map { opacity:0; }
.section .mapwrap .mydevice { position:absolute; left:50%; top:50%; margin:-10px 0 0 -10px; }
.section p, .section table, .section h1, .section h2, .section h3 { margin:8px; }
.section h1, .section h2, .section h3 { margin:8px 0; }
.section h2 { font-size:14px; letter-spacing:-1px; }
.section .button, section .submit { width:80%; padding:8px; margin:10px; font-size:14px; background-color:#333; border:none; color:#FFF; font-weight:bold; border-radius:6px; text-align:center; box-sizing:border-box; }

.section .pullinfo { position:absolute; z-index:1; width:100%; height:100%; background-color:#BBB; position:relative; overflow:hidden; }
.section .pullinfo strong { display:block; position:absolute; top:0px; margin-top:-5px; width:100%; height:100%; color:#FFF; text-align:center; overflow:hidden; opacity:0; -webkit-backface-visibility: hidden; }
.section .pullarea { position:absolute; z-index:2; top:0; bottom:0; width: 100%; background:#FFF; -webkit-backface-visibility: hidden; }

.footer { position:absolute; bottom:0; left:0; width:100%; height:42px; background:#EEE; border-top:#CFCFCF solid 1px; z-index:999999; -webkit-transform: translateY(50px); box-shadow: 0 0 10px 0 rgba(51,51,51,.2); -webkit-box-shadow: 0 0 10px 0 rgba(51,51,51,.2); }
.footer .item { font-size:14px; color:#CCC; line-height:38px; position:absolute; min-height:41px; min-width:50px; }
.footer .item:before { font-size:24px; position:absolute; width:50px; text-align:center; top:8px;  }
.footer .item.hover { background:#CCC; color:#AAA; }
.footer .item.marked { color:#555; }
.footer .item.marked:hover { color:#444; }
.footer .item mark { display:none; width:18px; height:18px; position:absolute; right:4px; top:4px; background:#F40; color:#FFF; font-size:10px; font-weight:bold; text-align:center; line-height:19px; border-radius:12px; }
.footer .item.r1 { right:0; }
.footer .item.r2 { right:50px; }
.footer .item.r3 { right:100px; }
.footer .user { font-size:14px; color:#555; padding:0 6px; position:absolute; left:0; top:1px; width:50%; white-space:nowrap; }
.footer .user small { display:block; margin-left:27px; margin-top:-10px; font-size:9px; }
.footer .user:before { margin:7px 3px 0 0; font-size:24px; }

.notify { display:none; position:absolute; bottom:0; left:0; width:100%; background:rgba(51,51,51,.95); z-index:100000000; padding:16px; color:#FFF; }
.notify strong { display:block; padding:0 4px; font-size:13px; }
.notify span { display:block; padding:4px; }
.notify small { display:block; padding:0 4px; }
.notify.error { background:rgba(255,0,0,.95);  }
.notify.notice { background:rgba(16,153,72,.95)  }
.notify.alert { background:rgba(255,102,0,.95);  }
.notify.info { background:rgba(0,102,204,.95);  }

.logline { padding:10px 6px; font-size:9px; color:#888; font-family:"Courier New", Courier, monospace !important; }
.logline .detail { font-size:8px; opacity:.7; }
.logline * { }
.logline.error { color:#F00; }
.logline.alert { color:#F50; }
.logline.info { color:#09F; }
.logline.notice { color:#090; }

mark.orange { background:#F40 !important; }
mark.red { background:#F10 !important; }
mark.blue { background:#09F !important; }
mark.green { background:#080 !important; }
mark.yellow { background:#F80 !important; }

.fordebug { display:none !important; }
.debug .fordebug { display:block !important; }

form.onlist { border-bottom:#DDD solid 1px; background:#FFF; margin:0; padding:0; position:relative; }
form.onlist:before { color:#999; position:absolute; top:12px; left:11px; }
form.onlist .input { border:#FFF solid 1px; padding:10px; background:#FFF; width:100%; }
form.onlist .submit { display:none; }
form.onlist[class*="icon-"] .input { padding-left:32px; }

form .formset { }
form .formset:first-of-type { border-top:#DDD solid 1px; }
form .formset .input { border:#FFF solid 1px; padding:10px; width:100%; border-bottom:#DDD solid 1px; background:#FFF; margin:0; position:relative; font-weight:bold; font-size:13px; }
form .formset .select { background-image:url(../pic/field-chevron.png); background-repeat:no-repeat; background-position:right 4px; }
form .formset .select:focus { background-position:right -23px; }

.courtain { background-image: url('../pic/courtain.svg');
   -webkit-animation: moveBars 200ms linear infinite;
    -moz-animation: moveBars 200ms linear infinite;
    -ms-animation: moveBars 200ms linear infinite;
    -o-animation: moveBars 200ms linear infinite;
    animation: moveBars 200ms linear infinite;
}

@keyframes moveBars { 100% { background-position: 25px 0; } }
@-webkit-keyframes moveBars { 100% {  background-position: 25px 0; } }
@-moz-keyframes moveBars { 100% {  background-position: 25px 0; } }
@-ms-keyframes moveBars { 100% {  background-position: 25px 0; } }
@-o-keyframes moveBars { 100% {  background-position: 25px 0; } }


a[href*="//maps.google.com/maps"]{display:none !important}
.gmnoprint a, .gmnoprint span {display:none;}
.gmnoprint div {background:none !important;}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
	.auth .logo { background-image:url(../pic/auth-logo-2x.png); background-size: 130px 140px; }
	.nav .header { background-image:url(../pic/header-logo-2x.png); background-size: 111px 42px; }
	form .formset .select { background-image:url(../pic/field-chevron-2x.png); background-size: 28px 56px; }
}

